#container
{
    margin-left: 25%;
    margin-right: 25%;
}

.card-book
{
    margin-bottom: 5%;
    margin-left: 1rem;
    margin-right: 1rem;
}

#loading-spinner
{
    margin: 50%;
    position: fixed;
    height: 5%;
    width: 5%;
}