{% extends "LibraryApp/base.html" %}
{% load static %}
{% block content %}
    <script src="{% static 'LibraryApp/js/user.js' %}"></script>
    <template id="user-data">
        <p>
            <label for="id_name">Username:</label>
            <input type="text" class="form-control" name="name" value="" maxlength="16" id="id_name" placeholder="{{ user.name }}">
        </p>
        <p>
            <label for="id_email">E-mail:</label>
            <input type="email" class="form-control" name="email" maxlength="64" id="id_email" placeholder="{{ user.email }}">
        </p>
        <p>
            <label for="id_password">New password:</label>
            <input type="password" class="form-control" name="password" maxlength="128" id="id_password" placeholder="Password">
        </p>
        <form method="post" id="edit-form">
            {% csrf_token %}
            <input type="hidden" name="name" id="name">
            <input type="hidden" name="email" id="email">
            <input type="hidden" name="password" id="password">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        <input type="hidden" name="type" value="u">
        </form>
        <button class="btn btn-primary" id="submit-btn">Submit</button>
    </template>
    <template id="subscription-data">
        <div class="row row-cols-sm-2 row-cols-md-3 g-3">
            <div class="row">
                <h5>Current plan: {{ user.subscription.name }}</h5>
            </div>
            <div class="row">
                <h5>Borrowings left: {{ user.borrowings_remaining }}</h5>
            </div>
            {% for subscription in subscriptions %}
                <div class="card shadow-sm card-book" style="width: 18rem;  margin-left: 1rem; margin-right: 1rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ subscription.name }}
                        </h5>
                        <h6>
                            Borrowings available: {{ subscription.borrowing_count }}
                        </h6>
                        <h6>
                            Price: {{ subscription.price }} PLN
                        </h6>
                        <form id="btn-read" method="post">
                            {% csrf_token %}
                            <a href="#" class="row" style="margin-bottom: 0; position: static">
                                <input type="hidden" name="type" value="s">
                                <input type="hidden" name="subscription" value="{{ subscription.subscription_id }}">
                                <button class="btn btn-sm btn-outline-secondary" type="submit">Choose</button>
                            </a>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </template>

    <div class="row">
        <div class="col-lg-3">
            <div class="list-group list-group-flush">
                <button class="list-group-item list-group-item-action active" id="user-data-btn" onclick="changeView(this)">User data</button>
                <button class="list-group-item list-group-item-action" id="subscription-data-btn" onclick="changeView(this)">Manage subscriptions</button>
            </div>
        </div>
        <div class="col-4" id="view"></div>
    </div>
{% endblock %}