<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="keywords" content="library, e-book" />
    <meta http-equiv="X-UA-Compatible" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'LibraryApp/css/main.css' %}" >

    <script src="{% static 'LibraryApp/login.js' %}"></script>
</head>

<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <a href="#" class="navbar-brand">
        <img width="32%" height="6%" src="{% static 'LibraryApp/logo.png' %}"  alt=""/>
    </a>
</nav>
<body>
    <div class="bg-light text-dark">
        <div class="col-5 center" id="container">

            <p>
                <label for="id_name">Username:</label>
                <input type="text" class="form-control" name="name" value="" maxlength="16" required="" id="id_name" placeholder="Username">
            </p>
            <p>
                <label for="id_password">Password:</label>
                <input type="password" class="form-control" name="password" maxlength="128" required="" id="id_password" placeholder="Password">
            </p>

            <form method="post" id="login-form">
                {% csrf_token %}
                <input type="hidden" name="name" required="" id="name">
                <input type="hidden" name="password" required="" id="password">
            </form>

            <button class="btn btn-primary" id="submit-btn">Login</button>
        </div>
    </div>
</body>
</html>