<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="keywords" content="library, e-book" />
    <meta http-equiv="X-UA-Compatible" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'LibraryApp/css/main.css' %}" >

    <script src="{% static 'LibraryApp/register.js' %}"></script>
</head>

<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <a href="{% url '' %}" class="navbar-brand">
        <img width="32%" height="6%" src="{% static 'LibraryApp/logo.png' %}"  alt=""/>
    </a>
</nav>

<div class="bg-light text-dark">
        <div class="col-5 center" id="container">

            <p>
                <label for="id_name">Username:</label>
                <input type="text" class="form-control" name="name" value="" maxlength="16" required="" id="id_name" placeholder="Username">
            </p>
            <p>
                <label for="id_email">E-mail:</label>
                <input type="email" class="form-control" name="email" maxlength="64" required="" id="id_email" placeholder="E-mail">
            </p>
            <p>
                <label for="id_password">Password:</label>
                <input type="password" class="form-control" name="password" maxlength="128" required="" id="id_password" placeholder="Password">
            </p>
            <p>
                {{ form.user_id }}
                {{ form.subscription }}
                {{ form.borrowings_remaining }}
            </p>

            <form method="post" id="register-form">
                {% csrf_token %}
                <input type="hidden" name="name" required="" id="name">
                <input type="hidden" name="email" required="" id="email">
                <input type="hidden" name="password" required="" id="password">
                <input type="hidden" name="user_id" required="" id="user_id">
                <input type="hidden" name="subscription" required="" id="subscription">
                <input type="hidden" name="borrowings_remaining" required="" id="borrowings_remaining">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </form>

            <button class="btn btn-primary" id="submit-btn">Register</button>
        </div>
    </div>
</body>
</html>